html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

body{
    background-color: rgb(229, 227, 250);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
div.card{
    width: 50%;
    min-width: 400px;
    max-width: 450px;
    height: 80%;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(6, 6, 6, 0.2);
    border-radius: 20px;
    text-align: center;
}
div.social-login{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
}
img{
    height: 30px;
}
button.google-btn{
    width: 65%;
    height: 60px;
    border-color: rgb(212, 212, 212);
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

button.fb-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border-radius: 10px;
    border-color: rgb(212, 212, 212);
    background-color: transparent;
}
p.btn-text{
    font-weight: 800;
}
.or{
    font-size: large;
    position: relative;
}

div.email-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
}
div.email-login input{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border-color: rgb(212, 212, 212);
}

.email-login label{
    color: rgb(135, 135, 135);
    font-weight: 800px;

}

h2.title{
    font-weight: 800;
}
.cta-btn{
 width: 80%;
 margin: 20px;
 height: 50px;
 border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 196);
}

form > a{
    font-size: large;
    font-weight: 600;
}

